<!DOCTYPE html>
<html lang="es">
<head>
	<title>Agregar Alumno</title>
</head>
<body>
	<nav>
		<h1>Ingresa la informacion del Alumno</h1>
	</nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="#">Mostrar todos los alumnos</a></li>
	</ul>

	<form action="/alumno_agregado" method="POST">
		<label>Nombre del Alumno:</label>
		<input type="text" name="nombre" value="" placeholder="Nombre">
		<br><br>
		<label>Nombre de la Materia:</label>
		<input type="text" name="materia" value="" placeholder="Materia">
		<br><br>
		<label>Calificacion:</label>
		<input type="text" name="calificacion" value="" placeholder="Calificacion">
		<br><br>
		<input type="submit" value="Agregar">
	</form>
</body>
</html>