<DOCTYPE html>
<html lang="">
    <head>
        <title>Lista de Alumnos</title>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <nav>
        <h1>Listado de Alumnos</h1>
        </nav>
        <ul>
            <li><a href="/">Inicio</a></li>
        </ul>
        <table>
            <tr>
                <th>Alumno</th>
                <th>Materia</th>
                <th>Calificacion</th>
            </tr>
            %s
        </table>
    </body>
</html>