<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Inicio</title>
	</head>
	<body>
		<nav>
			<h1 style="color:darkcyan;">Administrador de Tareas y Alumnos</h1>
		</nav>
		<ul>
			<li><a href="/agregar">Agregar Alumno</a></li>
			<li><a href="/alumno_buscar">Consultar promedio de un alumno</a></li>
			<li><a href="/materia_buscar">Consultar promedio de una materia</a></li>
			<li><a href="/general">Consultar promedio general</a></li>
			<li><a href="/alumno_listado">Consultar todos los alumnos</a></li>
		</ul>
	</body>
</html>